In [1]:
import pandas as pd

In [2]:
#leer grande base de datos
data = pd.read_csv("Datos/Saber2021.csv")

/var/folders/gk/7kfjrptn36bg3k1rj_t88dj80000gn/T/ipykernel_11222/3947016047.py:2: DtypeWarning: Columns (81) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("Datos/Saber2021.csv")

In [3]:
# Comprobar que subiera bien
data.head()

,ESTU_TIPODOCUMENTO,ESTU_NACIONALIDAD,ESTU_GENERO,ESTU_FECHANACIMIENTO,PERIODO,ESTU_CONSECUTIVO,ESTU_ESTUDIANTE,ESTU_PAIS_RESIDE,ESTU_TIENEETNIA,ESTU_DEPTO_RESIDE,...,PERCENTIL_INGLES,DESEMP_INGLES,PUNT_GLOBAL,PERCENTIL_ESPECIAL_GLOBAL,PERCENTIL_GLOBAL,ESTU_ESTADOINVESTIGACION,ESTU_INSE_INDIVIDUAL,ESTU_NSE_INDIVIDUAL,ESTU_NSE_ESTABLECIMIENTO,ESTU_GENERACION-E
0,TI,COLOMBIA,M,05/11/2003,20211,SB11202110042506,ESTUDIANTE,COLOMBIA,No,VALLE,...,35.0,A2,303,NaN,46.0,PUBLICAR,NaN,NaN,NaN,NaN
1,TI,COLOMBIA,F,06/10/2004,20211,SB11202110041799,ESTUDIANTE,COLOMBIA,No,VALLE,...,45.0,B1,325,NaN,62.0,PUBLICAR,NaN,NaN,NaN,NaN
2,TI,COLOMBIA,F,01/10/2003,20211,SB11202110043835,ESTUDIANTE,COLOMBIA,No,VALLE,...,46.0,B1,374,NaN,92.0,PUBLICAR,NaN,NaN,NaN,NaN
3,TI,COLOMBIA,F,13/01/2003,20211,SB11202110043668,ESTUDIANTE,COLOMBIA,No,VALLE,...,33.0,A2,282,NaN,34.0,PUBLICAR,NaN,NaN,NaN,NaN
4,TI,COLOMBIA,F,29/08/2004,20211,SB11202110043350,ESTUDIANTE,COLOMBIA,No,VALLE,...,33.0,A2,288,NaN,38.0,PUBLICAR,NaN,NaN,NaN,NaN

In [4]:
# Cuántas filas y columns
data.shape

(548507, 82)

In [5]:
# Ver los nombres de las columnas
data.columns

Index(['ESTU_TIPODOCUMENTO', 'ESTU_NACIONALIDAD', 'ESTU_GENERO',
       'ESTU_FECHANACIMIENTO', 'PERIODO', 'ESTU_CONSECUTIVO',
       'ESTU_ESTUDIANTE', 'ESTU_PAIS_RESIDE', 'ESTU_TIENEETNIA',
       'ESTU_DEPTO_RESIDE', 'ESTU_COD_RESIDE_DEPTO', 'ESTU_MCPIO_RESIDE',
       'ESTU_COD_RESIDE_MCPIO', 'FAMI_ESTRATOVIVIENDA', 'FAMI_PERSONASHOGAR',
       'FAMI_CUARTOSHOGAR', 'FAMI_EDUCACIONPADRE', 'FAMI_EDUCACIONMADRE',
       'FAMI_TRABAJOLABORPADRE', 'FAMI_TRABAJOLABORMADRE',
       'FAMI_TIENEINTERNET', 'FAMI_TIENECOMPUTADOR', 'FAMI_TIENELAVADORA',
       'FAMI_TIENEHORNOMICROOGAS', 'FAMI_TIENESERVICIOTV',
       'FAMI_TIENEAUTOMOVIL', 'FAMI_TIENEMOTOCICLETA',
       'FAMI_TIENECONSOLAVIDEOJUEGOS', 'FAMI_NUMLIBROS',
       'FAMI_COMELECHEDERIVADOS', 'FAMI_COMECARNEPESCADOHUEVO',
       'FAMI_COMECEREALFRUTOSLEGUMBRE', 'FAMI_SITUACIONECONOMICA',
       'ESTU_DEDICACIONLECTURADIARIA', 'ESTU_DEDICACIONINTERNET',
       'ESTU_HORASSEMANATRABAJA', 'ESTU_TIPOREMUNERACION', 'COLE_CODIGO_ICFES',
       'COLE_COD_DANE_ESTABLECIMIENTO', 'COLE_NOMBRE_ESTABLECIMIENTO',
       'COLE_GENERO', 'COLE_NATURALEZA', 'COLE_CALENDARIO', 'COLE_BILINGUE',
       'COLE_CARACTER', 'COLE_COD_DANE_SEDE', 'COLE_NOMBRE_SEDE',
       'COLE_SEDE_PRINCIPAL', 'COLE_AREA_UBICACION', 'COLE_JORNADA',
       'COLE_COD_MCPIO_UBICACION', 'COLE_MCPIO_UBICACION',
       'COLE_COD_DEPTO_UBICACION', 'COLE_DEPTO_UBICACION',
       'ESTU_PRIVADO_LIBERTAD', 'ESTU_COD_MCPIO_PRESENTACION',
       'ESTU_MCPIO_PRESENTACION', 'ESTU_DEPTO_PRESENTACION',
       'ESTU_COD_DEPTO_PRESENTACION', 'PUNT_LECTURA_CRITICA',
       'PERCENTIL_LECTURA_CRITICA', 'DESEMP_LECTURA_CRITICA',
       'PUNT_MATEMATICAS', 'PERCENTIL_MATEMATICAS', 'DESEMP_MATEMATICAS',
       'PUNT_C_NATURALES', 'PERCENTIL_C_NATURALES', 'DESEMP_C_NATURALES',
       'PUNT_SOCIALES_CIUDADANAS', 'PERCENTIL_SOCIALES_CIUDADANAS',
       'DESEMP_SOCIALES_CIUDADANAS', 'PUNT_INGLES', 'PERCENTIL_INGLES',
       'DESEMP_INGLES', 'PUNT_GLOBAL', 'PERCENTIL_ESPECIAL_GLOBAL',
       'PERCENTIL_GLOBAL', 'ESTU_ESTADOINVESTIGACION', 'ESTU_INSE_INDIVIDUAL',
       'ESTU_NSE_INDIVIDUAL', 'ESTU_NSE_ESTABLECIMIENTO', 'ESTU_GENERACION-E'],
      dtype='object')

In [6]:
# Cuántos colegios, municipios y departamentos son representados
count = data[['COLE_COD_DANE_ESTABLECIMIENTO','COLE_COD_MCPIO_UBICACION', 
              'COLE_COD_DEPTO_UBICACION' ]].nunique()
print(count)

COLE_COD_DANE_ESTABLECIMIENTO    10643
COLE_COD_MCPIO_UBICACION          1114
COLE_COD_DEPTO_UBICACION            33
dtype: int64

In [7]:
# Reducir el tamaño de la base, solo guardar variables más relevantes a la investigación
data = data.loc[: , ['ESTU_GENERO', 'PERIODO','ESTU_TIENEETNIA','FAMI_ESTRATOVIVIENDA',
                     'FAMI_TIENEINTERNET', 'FAMI_TIENECOMPUTADOR','FAMI_SITUACIONECONOMICA',
       'ESTU_DEDICACIONLECTURADIARIA', 'ESTU_DEDICACIONINTERNET',
       'ESTU_HORASSEMANATRABAJA', 'ESTU_TIPOREMUNERACION', 'COLE_COD_DANE_ESTABLECIMIENTO',
       'COLE_GENERO', 'COLE_NATURALEZA', 'COLE_CALENDARIO', 'COLE_BILINGUE',
       'COLE_CARACTER', 'COLE_AREA_UBICACION',
       'COLE_COD_MCPIO_UBICACION', 'COLE_MCPIO_UBICACION',
       'COLE_COD_DEPTO_UBICACION', 'COLE_DEPTO_UBICACION',
       'ESTU_COD_MCPIO_PRESENTACION', 'PUNT_GLOBAL',
                     'PERCENTIL_GLOBAL']]

In [8]:
#  Ver si hay valores nulos
data.isna().sum()

ESTU_GENERO                         97
PERIODO                              0
ESTU_TIENEETNIA                   2447
FAMI_ESTRATOVIVIENDA             30555
FAMI_TIENEINTERNET               27292
FAMI_TIENECOMPUTADOR             16477
FAMI_SITUACIONECONOMICA          17699
ESTU_DEDICACIONLECTURADIARIA     27732
ESTU_DEDICACIONINTERNET          28902
ESTU_HORASSEMANATRABAJA          16477
ESTU_TIPOREMUNERACION            17418
COLE_COD_DANE_ESTABLECIMIENTO        0
COLE_GENERO                          0
COLE_NATURALEZA                      0
COLE_CALENDARIO                      0
COLE_BILINGUE                    94036
COLE_CARACTER                    18532
COLE_AREA_UBICACION                  0
COLE_COD_MCPIO_UBICACION             0
COLE_MCPIO_UBICACION                 0
COLE_COD_DEPTO_UBICACION             0
COLE_DEPTO_UBICACION                 0
ESTU_COD_MCPIO_PRESENTACION          0
PUNT_GLOBAL                          0
PERCENTIL_GLOBAL                  3932
dtype: int64

In [9]:
# Eliminar todos los valores nulos
data = data.dropna()

In [10]:
# Cuántas filas y columnas
data.shape

(411491, 25)

In [11]:
# Cuántos colegios, municipios y departamentos
count = data[['COLE_COD_DANE_ESTABLECIMIENTO','COLE_COD_MCPIO_UBICACION', 
              'COLE_COD_DEPTO_UBICACION' ]].nunique()
print(count)

COLE_COD_DANE_ESTABLECIMIENTO    7510
COLE_COD_MCPIO_UBICACION         1103
COLE_COD_DEPTO_UBICACION           33
dtype: int64

In [12]:
# De qué tipo son las variables
data.dtypes

ESTU_GENERO                       object
PERIODO                            int64
ESTU_TIENEETNIA                   object
FAMI_ESTRATOVIVIENDA              object
FAMI_TIENEINTERNET                object
FAMI_TIENECOMPUTADOR              object
FAMI_SITUACIONECONOMICA           object
ESTU_DEDICACIONLECTURADIARIA      object
ESTU_DEDICACIONINTERNET           object
ESTU_HORASSEMANATRABAJA           object
ESTU_TIPOREMUNERACION             object
COLE_COD_DANE_ESTABLECIMIENTO      int64
COLE_GENERO                       object
COLE_NATURALEZA                   object
COLE_CALENDARIO                   object
COLE_BILINGUE                     object
COLE_CARACTER                     object
COLE_AREA_UBICACION               object
COLE_COD_MCPIO_UBICACION           int64
COLE_MCPIO_UBICACION              object
COLE_COD_DEPTO_UBICACION           int64
COLE_DEPTO_UBICACION              object
ESTU_COD_MCPIO_PRESENTACION        int64
PUNT_GLOBAL                        int64
PERCENTIL_GLOBAL                 float64
dtype: object

In [20]:
#Averiguar cuántos estudiantes de cada caracteristicas
count_internet = data.groupby(['FAMI_TIENEINTERNET']).FAMI_TIENEINTERNET.count()
count_comp = data.groupby(['FAMI_TIENECOMPUTADOR']).FAMI_TIENECOMPUTADOR.count()
count_etnia = data.groupby(['ESTU_TIENEETNIA']).ESTU_TIENEETNIA.count()
count_genero = data.groupby(['ESTU_GENERO']).ESTU_GENERO.count()
count_trabaja = data.groupby(['ESTU_HORASSEMANATRABAJA']).ESTU_HORASSEMANATRABAJA.count()

ind_variables = { "Tiene Internet": count_internet, "Tiene Computador": count_comp ,
             "Tiene Etnía": count_etnia, "Es Masculino": count_genero, "No Trabaja": count_trabaja}

print(ind_variables)

{'Tiene Internet': FAMI_TIENEINTERNET
No     99246
Si    312245
Name: FAMI_TIENEINTERNET, dtype: int64, 'Tiene Computador': FAMI_TIENECOMPUTADOR
No    161758
Si    249733
Name: FAMI_TIENECOMPUTADOR, dtype: int64, 'Tiene Etnía': ESTU_TIENEETNIA
No    389451
Si     22040
Name: ESTU_TIENEETNIA, dtype: int64, 'Es Masculino': ESTU_GENERO
F    226255
M    185236
Name: ESTU_GENERO, dtype: int64, 'No Trabaja': ESTU_HORASSEMANATRABAJA
0                      257961
Entre 11 y 20 horas     37758
Entre 21 y 30 horas     13739
Menos de 10 horas       87243
Más de 30 horas         14790
Name: ESTU_HORASSEMANATRABAJA, dtype: int64}

In [ ]:
# Ver las diferentes categorías de las variables  
categoricas = data.loc[: ,["ESTU_GENERO"  ,  "ESTU_TIENEETNIA" , "FAMI_TIENEINTERNET" ,
            "FAMI_TIENECOMPUTADOR" ,"COLE_GENERO"  ,  "COLE_NATURALEZA" ,   "COLE_CALENDARIO" ,
            "COLE_BILINGUE" ,"COLE_CARACTER"  , "COLE_AREA_UBICACION", 'ESTU_HORASSEMANATRABAJA']]

for col in categoricas:
    print(data[col].unique())

In [ ]:
# Crear dummy variables
data = pd.get_dummies(data, columns=["ESTU_GENERO"  ,  "ESTU_TIENEETNIA" , "FAMI_TIENEINTERNET" ,
            "FAMI_TIENECOMPUTADOR" ,"COLE_GENERO"  ,  "COLE_NATURALEZA" ,   "COLE_CALENDARIO" ,
            "COLE_BILINGUE" , "COLE_AREA_UBICACION", "ESTU_HORASSEMANATRABAJA", "COLE_CARACTER"])

In [ ]:
# Ver los nombres
data.columns

In [ ]:
#renombrar las columnas
data.rename(columns= {'ESTU_GENERO_M': 'male',
                      'ESTU_TIENEETNIA_Si' : 'etnia_si',
                      'FAMI_ESTRATOVIVIENDA_Estrato 2' : 'estrato_2', 
                      'FAMI_ESTRATOVIVIENDA_Estrato 3' : 'estrato_3',
                      'FAMI_ESTRATOVIVIENDA_Estrato 4' : 'estrato_4',
                      'FAMI_ESTRATOVIVIENDA_Estrato 5' : 'estrato_5',
                      'FAMI_ESTRATOVIVIENDA_Estrato 6' : 'estrato_6',
                      'FAMI_ESTRATOVIVIENDA_Sin Estrato' : 'estrato_sinestrato',
                      'FAMI_TIENEINTERNET_Si' : 'internet_si',
                      'FAMI_TIENECOMPUTADOR_Si': 'computador_si',
                      'COLE_GENERO_MASCULINO' : 'cole_masculino',
                      'COLE_NATURALEZA_NO OFICIAL' : 'cole_privado', 'COLE_NATURALEZA_OFICIAL' : 'cole_publico',
                      'COLE_CALENDARIO_A' : 'calendario_a',
                      'COLE_CALENDARIO_B' : 'calendario_b',
                      'COLE_CALENDARIO_OTRO' : 'calendario_otro',
                      'COLE_BILINGUE_S' : 'cole_bilingue', 
                      'COLE_BILINGUE_N' : 'cole_nbilingue',
                      'COLE_AREA_UBICACION_URBANO' : 'cole_urbano',
                      'COLE_AREA_UBICACION_RURAL' : 'cole_rural',
                      'ESTU_HORASSEMANATRABAJA_0' : 'trabaja_no',
                      'COLE_CARACTER_ACADÉMICO' : 'cole_academico'
                     }, inplace=True)

In [ ]:
#Check
data.columns

In [ ]:
data.to_csv("Datos/Datos.csv", index = False)